src/ClienteWCF/Connected Services/LivroServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LivroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicoWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILivroService_Obter_InputMessage">
    <wsdl:part name="parameters" element="tns:Obter" />
  </wsdl:message>
  <wsdl:message name="ILivroService_Obter_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterResponse" />
  </wsdl:message>
  <wsdl:message name="ILivroService_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="ILivroService_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="ILivroService_Remover_InputMessage">
    <wsdl:part name="parameters" element="tns:Remover" />
  </wsdl:message>
  <wsdl:message name="ILivroService_Remover_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverResponse" />
  </wsdl:message>
  <wsdl:portType name="ILivroService">
    <wsdl:operation name="Obter">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivroService/Obter" message="tns:ILivroService_Obter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivroService/ObterResponse" message="tns:ILivroService_Obter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivroService/Inserir" message="tns:ILivroService_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivroService/InserirResponse" message="tns:ILivroService_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivroService/Remover" message="tns:ILivroService_Remover_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivroService/RemoverResponse" message="tns:ILivroService_Remover_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILivroService" type="tns:ILivroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obter">
      <soap:operation soapAction="http://tempuri.org/ILivroService/Obter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/ILivroService/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <soap:operation soapAction="http://tempuri.org/ILivroService/Remover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivroService">
    <wsdl:port name="BasicHttpBinding_ILivroService" binding="tns:BasicHttpBinding_ILivroService">
      <soap:address location="http://localhost:8733/ServicoWCF/Livro/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>